| {% extends 'projects/edit_layout.html'  %}
| {% set title = 'attract' %}
| {% block page_title %}Attract settings for {{ project.name }}{% endblock %}

| {% block head %}
script(src="{{ url_for('static_attract', filename='assets/js/generated/tutti.min.js') }}")
| {% endblock %}

| {% block project_context %}
.container-fluid
	.row
		.col-md-12
			h5.pt-3 {{ self.page_title() }}

			hr

#node-edit-container
	| {% block attract_container %}
	| {% endblock attract_container %}

	p.settings-footer
		| New to Attract?
		| Sorry, we don't have documentation yet.
| {% endblock project_context %}
