| {% extends 'attract/project_settings/attract_layout.html'  %}

| {% block attract_container %}
#node-edit-form
	p This project is not setup for Attract #[span.text-muted (yet!)]
	p
		button.btn.btn-outline-primary.px-3(onclick='setupForAttract()')
			i.pr-2.pi-attract
			| Setup Project for Attract

| {% endblock attract_container %}

| {% block footer_scripts %}
script.
	function setupForAttract() {
		$.ajax({
			url: '{{ url_for( "attract.setup_for_attract", project_url=project.url) }}',
			method: 'POST',
		})
		.done(function() {
			window.location.reload();
		})
		.fail(function(err) {
			var err_elt = xhrErrorResponseElement(err, 'Error setting up your project: ');
			toastr.error(err_elt);
		});
	}
| {% endblock %}
