| {% extends 'attract/project_settings/attract_layout.html'  %}

| {% block attract_container %}
#node-edit-form
	h5 Shot-related task types

	p Here you can edit the task columns shown in this project's
		=' '
		a(href="{{ url_for('attract.shots.perproject.index', project_url=project['url']) }}") shot list
		='.'

	form(onsubmit="save(this, '{{ url_for('attract.save_task_types', project_url=project['url'], node_type_name=shot_node_type_name) }}'); return false;")
		textarea.w-100.mb-2.bg-light.p-1(
			name="task_types",
			type="text",
			rows="{{ shot_task_types|count + 1 }}",
			placeholder='Task types, one per line') {{ '\n'.join(shot_task_types) }}

		button.btn.btn-outline-success.btn-block(type='submit')
			i.pi-check
			| Save Shot Task Types

	hr

	h5 Asset-related task types
	p Here you can edit the task columns shown in this project's
		=' '
		a(href="{{ url_for('attract.assets.perproject.index', project_url=project['url']) }}") asset list
		='.'

	form(onsubmit="save(this, '{{ url_for('attract.save_task_types', project_url=project['url'], node_type_name=asset_node_type_name) }}'); return false;")
		textarea.w-100.mb-2.bg-light.p-1(
			name="task_types",
			type="text",
			rows="{{ asset_task_types|count + 1 }}",
			placeholder='Task types, one per line') {{ '\n'.join(asset_task_types) }}

		button.btn.btn-outline-success.btn-block(type='submit')
				i.pi-check
				| Save Asset Task Types

| {% endblock %}
| {% block footer_scripts %}
script.
	function save(form, url) {
		var $input = $(form).find('*[name="task_types"]');
		var task_types = $input.val();
		$.post(url, {'task_types': task_types})
		.done(function(xhr) {
			$input.val(xhr.task_types.join('\n'));
			$input.attr('rows', xhr.task_types.length + 1);
			toastr.success('Task types saved');
		})
		.fail(function(err) {
			toastr.error(xhrErrorResponseElement(err, 'Error saving task types: '));
		});
	}
| {% endblock %}
