| {% extends 'attract/layout.html' %}
| {% block page_title %}Shots{% endblock %}
| {% block attractbody %}
#col_main
	h1 Attract projects
	ul
		| {% for project in projects %}
		li
			a(href="{{ url_for('attract.shots.perproject.index', project_url=project.url) }}") {{ project.name }}
		| {% endfor %}
#col_right
	h1 Right
| {% endblock %}
