| {% extends 'attract/layout.html' %}
| {% block bodyattrs %}{{ super() }} data-context='dashboard'{% endblock %}
| {% block page_title %}Dashboard{% endblock %}

| {% block attractbody %}
#col_main
	.dashboard
		.d-stats.pt-2.px-2
			span.h4 Attract

	| {% if current_user.is_authenticated %}
	| {% from "attract/tasks/task_list_for_user.html" import task_list_for_user %}
	| {{ task_list_for_user(tasks['_meta']['total'], tasks['_items']) }}
	| {% else %}
	| {% include "attract/index_anon_left_column.html" %}
	| {% endif %}

#col_right
	.dashboard
		.d-stats.p-2

			| {% for proj, summary in projs_with_summaries %}
			.d-stats-card.mb-2
				h6
					a.text-muted(href="{{ url_for('attract.shots.perproject.index', project_url=proj.url) }}") {{ proj.name }}

					span.float-right
						a.text-muted(href="{{ url_for('attract.shots.perproject.index', project_url=proj.url) }}") Shots
						| &nbsp;|&nbsp;
						a.text-muted(href="{{ url_for('attract.assets.perproject.index', project_url=proj.url) }}") Assets
						| &nbsp;|&nbsp;
						a.text-muted(href="{{ url_for('attract.tasks.perproject.index', project_url=proj.url) }}") Tasks

				.progress
					| {% for status, percentage in summary.percentages() %}
					.progress-bar.bg-status(
						class="status-{{status}}",
						title="{{ status | undertitle }} ({{percentage}}%)",
						role="progressbar",
						style="width:{{percentage}}%")
					| {% endfor %}

				.d-stats-card-legend
					| {% for status, percentage in summary.percentages() %}
					label.d-stats-card-item(
						class="status-{{status}}",
						title="{{ status | undertitle }} ({{percentage}}%)")
						| {{percentage}}% {{ status | undertitle }}
					| {% endfor %}
			| {% endfor %}

		hr

		.d-activity
			h4 Activity Stream

			ul
				| {% for act in activities['_items'] %}
				| {% if act.link %}
				li
					a.text-muted(href="{{ act.link }}")
						img.actor-avatar(src="{{ act['actor_user']['avatar'] }}")
						span.date(title="{{ act._created }}") {{ act._created | pretty_date_time }}
						span.actor {{ act['actor_user']['full_name'] }}
						span.verb {{ act.verb }}
				| {% endif %}
				| {% endfor %}
| {% endblock %}
