| {% extends 'projects/view.html' %}
include ../../../../pillar/src/templates/mixins/components

| {% set title = 'production-tools' %}

| {% block css %}
| {{ super() }}
link(href="{{ url_for('static_attract', filename='assets/css/main.css') }}", rel="stylesheet")
link(href="{{ url_for('static_attract', filename='assets/css/plugins/js_select2.css') }}", rel="stylesheet")
link(href="{{ url_for('static_attract', filename='assets/img/favicon.png') }}", rel="shortcut icon")
link(href="{{ url_for('static_attract', filename='assets/img/apple-touch-icon-precomposed.png') }}", rel="icon apple-touch-icon-precomposed", sizes="192x192")
| {% endblock css %}

| {% block head %}
script(src="{{ url_for('static_attract', filename='assets/js/generated/tutti.min.js') }}")
| {% endblock head %}

| {% block body %}
#app-main
	#col_sidebar
		nav.sidebar(role='navigation')
			ul
				li
					a.navbar-item.attract(href="{{ url_for('attract.index') }}",
						title='Attract')
						i.pi-attract
				| {% if session.get('attract_last_project') %}
				| {% set attract_last_project = session.get('attract_last_project') %}
				li
					a.navbar-item.tasks(href="{{ url_for('attract.tasks.perproject.index', project_url=attract_last_project.url) }}",
						title='Tasks for project {{ attract_last_project.name }}') Tasks
				li
					a.navbar-item.shots(href="{{ url_for('attract.shots.perproject.index', project_url=attract_last_project.url) }}",
						title='Shots for project {{ attract_last_project.name }}') Shots
				li
					a.navbar-item.assets(href="{{ url_for('attract.assets.perproject.index', project_url=attract_last_project.url) }}",
						title='Assets for project {{ attract_last_project.name }}') Assets
				| {% else %}
				| {% if current_user.is_authenticated %}
				li
					a.navbar-item.tasks(href="{{ url_for('attract.tasks.index') }}",
						title='Your tasks') Tasks
				| {% endif %}
				| {% endif %}

			ul.bottom
				| {% if project %}
				li
					button.js-help(
						type="button",
						title="Help",
						data-url="{{ url_for('attract.help', project_url=project.url) }}")
						i.pi-question
				| {% endif %}
	| {% block attractbody %}
	| {% endblock attractbody %}
| {% endblock body %}

| {% block footer_scripts_pre %}
script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery.select2.min.js') }}")
script(src="{{ url_for('static_attract', filename='assets/js/vendor/moment-2.15.2.min.js') }}")
script(src="{{ url_for('static_attract', filename='assets/js/vendor/pikaday.js') }}")
| {% if project %}
script.
	ProjectUtils.setProjectAttributes({projectId: "{{project._id}}", projectUrl: "{{project.url}}"});
| {% endif %}
| {% endblock footer_scripts_pre %}
