| {% extends 'attract/layout.html' %}
| {% block page_title %}{{ project.name }} - Attract{% endblock %}
| {% block attractbody %}
#page-container
	#page-content
		.project
			h1 {{ project.name }}
			ul
				li
					a(href="{{ url_for('attract.tasks.perproject.index', project_url=project.url) }}") Tasks
				li
					a(href="{{ url_for('attract.shots.perproject.index', project_url=project.url) }}") Shots
| {% endblock %}
