| {% extends 'attract/layout.html' %}
| {% block bodyattrs %}{{ super() }} data-context='task'{% endblock %}
| {% block page_title %}Tasks for You{% endblock %}
| {% block attractbody %}
#col_main
	| {% from "attract/tasks/task_list_for_user.html" import task_list_for_user %}
	| {{ task_list_for_user(task_count, tasks) }}
.col-splitter

#col_right
	.col_header
		span.header_text
	#item-details
		.item-details-empty
			| Select a Task
| {% endblock %}

| {% block footer_scripts %}

script(src="{{ url_for('static_pillar', filename='assets/js/vendor/clipboard.min.js')}}")
script(src="{{ url_for('static_attract', filename='assets/js/vendor/jquery-resizable-0.20.min.js')}}")
script.
	$("#col_main").resizable({
		handleSelector: ".col-splitter",
		resizeHeight: false
	});

| {% endblock %}
