| {% extends 'attract/layout.html' %}
| {% block page_title %}Tasks{% endblock %}
| {% block attractbody %}
#col_main
	.col_header Tasks

	.container-fluid
		.row
			.col-md-4
				h2 project 1
			.col-md-4
				h2 project 2
			.col-md-4
				h2 project 3
| {% endblock %}
