| {% macro task_list_for_user(task_count, tasks, include_shotname=True) -%}
.col_header.task-list-header
	| Your Tasks ({{ task_count }})

.item-list.col-list
	| {% for task in tasks if tasks %}
	//- NOTE: this is tightly linked to the JS in tasks.js, function task_add()
	| {% if task._parent_info and task._parent_info.node_type == 'attract_shot'%}
	a.col-list-item.task-list-item(
		class="status-{{ task.properties.status }} task-link",
		title="In project '{{ task._project_info.name }}'",
		href="{{ url_for('attract.shots.perproject.with_task', project_url=task._project_info.url, task_id=task._id) }}")
		span.status-indicator
		| {% if include_shotname and task._parent_info %}
		span.shotname {{ task._parent_info.name }}
		| {% endif %}
		span.name {{ task.name }}
		span.due_date {{ task.properties.due_date | pretty_date | hide_none }}
	| {% elif task._parent_info and task._parent_info.node_type == 'attract_asset'%}
	a.col-list-item.task-list-item(
		class="status-{{ task.properties.status }} task-link",
		title="In project '{{ task._project_info.name }}'",
		href="{{ url_for('attract.assets.perproject.with_task', project_url=task._project_info.url, task_id=task._id) }}")
		span.status-indicator
		| {% if include_shotname and task._parent_info %}
		span.shotname {{ task._parent_info.name }}
		| {% endif %}
		span.name {{ task.name }}
		span.due_date {{ task.properties.due_date | pretty_date | hide_none }}
	| {% else %}
	a.col-list-item.task-list-item(
		class="status-{{ task.properties.status }} task-link",
		title="In project '{{ task._project_info.name }}'",
		href="{{ url_for('attract.tasks.perproject.view_task', project_url=task._project_info.url, task_id=task._id) }}")
		span.status-indicator
		| {% if include_shotname and task._parent_info %}
		span.shotname {{ task._parent_info.name }}
		| {% endif %}
		span.name {{ task.name }}
		span.due_date {{ task.properties.due_date | pretty_date | hide_none }}
	| {% endif %}
	| {% else %}
	.col-list-item.empty
		span.no-tasks
			i.pi-grin
			| No tasks assigned to you. Holidays!
	| {% endfor %}
| {%- endmacro %}
