.attract-box.task.with-status(
	class="status-{{ task.properties.status }}")
	form#item_form(onsubmit="return task_save('{{task._id}}', '{{ url_for('attract.tasks.perproject.save', project_url=project['url'], task_id=task._id) }}')")
		input(type='hidden',name='_etag',value='{{ task._etag }}')
		//- NOTE: if you add fields here, also add them read-only below.
		.input-group
			| {% if can_edit %}
			input.item-name(
				name="name",
				type="text",
				placeholder='Task Title',
				value="{{ task.name | hide_none }}")
			| {% else %}
			span.item-name {{ task.name | hide_none }}
			| {% endif %}

			.dropdown(style='margin-left: auto')
				button#item-dropdown.btn.btn-outline-success.dropdown-toggle(
					type='button',
					data-toggle='dropdown',
					aria-haspopup='true', aria-expanded='true')
					i.pi-more-vertical
				ul.dropdown-menu(aria-labelledby='item-dropdown')
					li.copy-to-clipboard-id(data-clipboard-text="{{ task._id }}")
						a(href="javascript:void(0)")
							i.pi-clipboard-copy
							| Copy ID to Clipboard
					| {% if task.properties.shortcode %}
					li.copy-to-clipboard-shortcode(data-clipboard-text="[{{ task.properties.shortcode }}]")
						a(href="javascript:void(0)")
							i.pi-clipboard-copy
							| Copy Shortcode for SVN Commits to Clipboard
					| {% endif %}
					| {% if attract_context == 'task' and task.parent %}
					li
						a(href="{{ url_for('attract.shots.perproject.with_task', project_url=project['url'], task_id=task['_id']) }}")
							i.pi-film-thick
							| View in shot context
					| {% endif %}
					| {% if 'DELETE' in task.allowed_methods %}
					li.divider(role='separator')
					li.item-delete
						a(href="javascript:task_delete('{{ task._id }}', '{{ task._etag }}', '{{ url_for('attract.tasks.delete', task_id=task._id, _method='DELETE') }}')")
							i.pi-trash
							| Delete Task
					| {% endif %}

		| {% if can_edit %}
		.input-group
			textarea#item-description(
				name="description",
				type="text",
				rows=1,
				placeholder='Description') {{ task.description | hide_none }}

		.input-group-flex
			.input-group.field-type
				label#task-task_type Type:
				select(name="task_type",aria-describedby="task-task_type")
					| {% for task_type in task_types %}
					| <option value="{{ task_type }}" {% if task_type == task.properties.task_type %}selected{% endif %}>{{ task_type | undertitle }}</option>
					| {% endfor %}
					| {% if task.properties.task_type not in task_types %}
					option(value="{{ task.properties.task_type }}",selected).invalid_task {{ task.properties.task_type | undertitle }}
					| {% endif %}

			.input-group
				label#task-status-label Status:
				select#item-status(
					name="status",
					aria-describedby="task-status-label")
					| {% for status in task_node_type.dyn_schema.status.allowed %}
					| <option class="status-{{ status }}" value="{{ status }}" {% if status == task.properties.status %}selected{% endif %}>{{ status | undertitle }}</option>
					| {% endfor %}

		.input-group-separator

		.input-group.select_multiple
			label Assignees:
			select#assignees(
			name="users",
			multiple,
			placeholder="Assigned Users",
			aria-describedby="task-addon-users")
				| {% for u in project.users %}
				| <option value="{{ u._id }}" {% if task.properties.assigned_to.users and u._id in task.properties.assigned_to.users %}selected{% endif %}>{{ u.full_name }}</option>
				| {% endfor %}

		.input-group
			label Due Date:
			input#item-due_date(
				type="text",
				name="due_date",
				placeholder="Deadline for Task")

		.input-group-separator

		.input-group
			button#item-save.btn.btn-outline-success.btn-block(type='submit')
				i.pi-check
				| Save Task
		| {% else %}
		//- NOTE: read-only versions of the fields above.
		| {% if task.description %}
		p.item-description {{ task.description | hide_none }}
		| {% endif %}

		.table.item-properties
			.table-body
				.table-row
					.table-cell Task Type
					.table-cell {{ task.properties.task_type | undertitle }}
				.table-row.properties-status.js-help(
					data-url="{{ url_for('attract.help', project_url=project.url) }}")
					.table-cell Status
					.table-cell(class="status-{{ task.properties.status }}")
						| {{ task.properties.status | undertitle }}
				| {% if attract_context != 'shot' and task._parent_info %}
				.table-row
					.table-cell Shot
					.table-cell
						a(href="{{ url_for('attract.shots.perproject.with_task', project_url=project['url'], task_id=task['_id']) }}") {{ task._parent_info.name }}
				| {% endif %}
				.table-row.properties-assignees
					.table-cell Assignees
					.table-cell
						| {% for u in task.properties.assigned_to['users'] %}
						span(title="{{ u.username }}") {{ u.full_name }}
						| {% else %}
						span.hint Not assigned yet
						| {% endfor %}
				.table-row.properties-due_date
					.table-cell Due Date
					.table-cell
						| {% if task.properties.due_date %}
						span.due_date {{ task.properties.due_date | pretty_date_time }}
						| {% else %}
						span.hint No date set
						| {% endif %}

		| {% endif %}

#item-view-feed
	#activities
	| <comments-tree id='comments-embed' parent-id="{{ task['_id'] }}" {% if not can_edit %}read-only{% endif %}/>
	

	| {% if config.DEBUG %}
	.debug-info
		a.debug-info-toggle(role='button',
			data-toggle='collapse',
			href='#debug-content',
			aria-expanded='false',
			aria-controls='debug-content')
			i.pi-info
			| Debug Info
		#debug-content.collapse
			pre.
				{{ task.to_dict() | pprint }}
		| {% endif %}

script.

	{% if can_edit %}
		$("#assignees").select2();

		var picker = new Pikaday(
			{
					field: document.getElementById('item-due_date'),
					firstDay: 1,
					showTime: false,
					use24hour: true,
					format: 'dddd D, MMMM YYYY',
					disableWeekends: true,
					timeLabel: 'Time: ',
					autoClose: true,
					incrementMinuteBy: 15,
					yearRange: [new Date().getFullYear(),new Date().getFullYear() + 5]
			});

		picker.setDate('{{ task.properties.due_date }}');

		if (ProjectUtils.context() == 'shot'){
			$('.field-type').hide();
		}

		$('#item-description')
			.autoResize()
			.blur();

		$('#item-status').change(function(){
			$("#item-save").trigger( "click" );
		});
	{% endif %}

	new Clipboard('.copy-to-clipboard-id')
	.on('success', function(e) {
		toastr.info('Copied task ID to clipboard');
	});

	new Clipboard('.copy-to-clipboard-shortcode')
	.on('success', function(e) {
		toastr.info('Copied task shortcode to clipboard');
	});

	loadActivities("{{ url_for('.activities', project_url=project.url, task_id=task['_id']) }}");  // from 10_tasks.js
	new Vue({el:'#comments-embed'});

	$('.js-help').openModalUrl('Help', "{{ url_for('attract.help', project_url=project.url) }}");
